.social {
  display:none;
  a {
    margin:20px auto;
    display:block;
    width:100%;
    padding:20%;
    border-radius:50%;
    border-width:2px;
    border-style: solid;
    border-color:transparent;
    position:relative;
    transition: border .4s;
    -webkit-transition: border .4s;
    &:after {
      position: absolute;
      top:0;
      left:0;
      display:block;
      width:100%;
      height:100%;
      content:"";
      z-index:2;
    }
    img {
      width:100%;
      height:auto;
    }
    
    object {
      width:100%;
      display:block;
      height:auto;
    }
    &:hover {
      
    }
  }
}

.icon.facebook {border-color:rgba(59, 89, 152, .3)}
.icon.twitter {border-color:rgba(85, 172, 238, .3)}
.icon.google  {border-color:rgba(221, 75, 57, .3)}
.icon.reddit {border-color:rgba(255, 87, 0, .3)}

.icon.facebook:hover {border-color:#3B5998;}
.icon.twitter:hover {border-color:#55acee;}
.icon.google:hover  {border-color:#dd4b39;}
.icon.reddit:hover {border-color:#ff5700;}

.fix {
  position: fixed;
  top: 150px;
  opacity:1;
  width:70px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .fix {
    width:60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .add-this svg {padding:0;height:45px;width:45px;}
  .fix {
    width:45px;
  }
}

@media (max-width: 767px) {
  .fix {
    bottom:0;
    left:0;
    top:auto;
  }
  .social{
    background:rgba(51,51,51,.9);
    width:100%;
    z-index: 3;
  }
  .social a {
    float:left;
    width:10%;
    padding:5px;
    margin:7px 7.5% 7px 7.5%;
  }
  .socials a object {
    height:25px;
  }
}