.head-wrap {
   position: relative;
   @include clearfix;
  .head {
    padding:20px;
    @include clearfix;
    background: $gray-dark;
    position: fixed;
    z-index: 3;
    -webkit-transition: padding .3s; /* Safari */
    transition: padding .3s;
    &.head-shrink {
      padding:15px 20px;
    }
  }
}

.title {
  display:block;
  @include font-size(26px);
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 1em;
  color: $white;
  text-transform: uppercase;
  float:left;
  margin-right:50px;
  &:hover {
    text-decoration: none;
  }
  
}





.main-menu {
  display:block;
  float:left;
  
  li {
    float:left;
    a {
      display: block;
      padding: 3px 20px;
      color: $white;
      line-height: 1.6em;
      @include font-size(14px);
      position:relative;
      &:hover,
      &:active,
      &:focus {
        color:$blue-light;
        text-decoration: none;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.socials {
  position: absolute;
  right: 20px;
  top:15px;
  display:none;
  transition: top .3s;
    -webkit-transition: top .3s;
  &.show {
    display:block;
  }

  a {
    position: relative;
    text-indent: 100%;
	  white-space: nowrap;
	  overflow: hidden;
    background-size:100% 100%;
    &:after {
      position: absolute;
      top:0;
      left:0;
      display:block;
      width:100%;
      height:100%;
      content:"";
      z-index:2;
    }
    object {
      height: 35px;
      border: 2px solid #3B5998;
      padding: 4px;
    }
  }
  
}

.nav-icon {
  margin:0;
  width: 25px;
  display:none;
  position: absolute;
  right: 60px;
  top: 6px;
}
.nav-icon:hover {cursor: pointer;}
.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
  background-color: $white-off;
  border-radius: 2px;
  content: '';
  display: block;
  height: 3px;
  margin: 5px 0;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.nav-icon.active:before {
  transform: translateY(8px) rotate(135deg);
  -moz-transform: translateY(8px) rotate(135deg);
  -webkit-transform: translateY(8px) rotate(135deg);
}

.nav-icon.active:after {
  transform: translateY(-8px) rotate(-135deg);
  -moz-transform: translateY(-8px) rotate(-135deg);
  -webkit-transform: translateY(-8px) rotate(-135deg);
}

.nav-icon.active div {
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.topper {
 top:8px;
}



@media (max-width:767px) {
  .title {
    @include font-size(22px);
  }
  .head-wrap .head {
    padding:10px;
    &.head-shrink {
      padding:10px;
    }
  }
  .nav-icon {
    display:block;
  }
  .main-menu {
    display:none;
    position: absolute;
    top:42px;
    left:0;
    width:100%;
    li {
      width:100%;
      a {
      background:#444;
      padding:10px 20px;
      }
    }
  }
  .main-menu.show {
    display:block;
  }
}

@media (max-width:480px) {
  .title {
    @include font-size(18px);
    line-height:20px;
  }
  .socials {
    top:8px;
    right:10px;
  }
  .nav-icon {
  right: 50px;
  }
  .main-menu {
    display:none;
    position: absolute;
    top:40px;
  }
}

