.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-google { background-image: url('png/google.png'); background-repeat: no-repeat; }

.icon-redit { background-image: url('png/redit.png'); background-repeat: no-repeat; }

.icon-rss { background-image: url('png/rss.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

