html {
  background: $white-off;
}

body {
  font: 100% $font-stack;
  color: $gray-dark;
  font-weight:400;
}

a {
 text-decoration: none; 
}

a:hover {
 text-decoration: underline;
}

em {
  font-style:italic;
}

strong {
  font-weight: 800;
}


svg { max-height: 100%; }