.hero-wrap {
  position:relative;
  margin-bottom:40px;
}

.hero-image {
}

.hero-txt {
  padding: 30px 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  position: absolute;
  bottom:0;
  
    h1 {
    @include font-size(40px);
    font-weight: 800;
    color:$white;
    line-height: 1em;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
    p {
      color:$white;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }
  }

  


.mid {}

.home-row {margin-bottom:50px;}

