.single-intro {
  @include clearfix;
  background: #fff;
  display: block;
  padding: 62px 0 50px 0;
  margin-bottom:40px;
}

.single-header {
  @include font-size(32px);
    font-weight: 800;
    color:$gray-medium;
    line-height: 1.2em;
}

.single-img {margin-bottom:15px;}

.single-content img {
  max-width: 100%;
      width: initial;
}

.single-content p {
  @include font-size(18px);
    font-weight: 400;
    color:$gray-medium;
    line-height: 1.7em;
    margin-bottom:1.5em;
}

.single-content blockquote p {
	@include font-size(28px);
  font-weight: 800;
	width: 450px;
	position: relative;
	color: $blue-light;
  margin-left:25px;
  margin-right:25px;
}

.single-content blockquote p:before {
	display: block;
	content: "\201C";
	@include font-size(40px);
	position: absolute;
	left: -25px;
	top: 0;
	color: $blue-light;
}
.single-content h2 {
  @include font-size(26px);
  font-weight: 800;
  color:$gray-medium;
  line-height: 1.2em;
  margin-bottom:25px;
}
.single-content h3 {
  @include font-size(22px);
  font-weight: 800;
  color:$gray-medium;
  line-height: 1.2em;
  margin-bottom:20px;
}

.single-featured {
  max-width: 100%;
  margin:0 auto 40px auto;
  width:initial;
}

.mid {margin-bottom:80px;}

@media (max-width: 767px) {
  .single-intro {
  padding: 32px 0 25px 0;
  margin-bottom:25px;
}
  .single-content p {
  @include font-size(16px);
    font-weight: 400;
    color:$gray-medium;
    line-height: 1.5em;
    margin-bottom:1.3em;
  }
  .single-header {
    @include font-size(26px);
}
}
