.single-intro {
  @include clearfix;
  background: #fff;
  display: block;
  padding: 62px 0 50px 0;
  margin-bottom:40px;
}

.single-header {
  @include font-size(30px);
    font-weight: 800;
    color:$gray-medium;
    line-height: 1.2em;
}

.single-img {margin-bottom:15px;}

.single-content p {
  @include font-size(18px);
    font-weight: 400;
    color:$gray-medium;
    line-height: 1.7em;
    margin-bottom:1.5em;
}
.single-content blockquote {}
.single-content h2 {}
.siongle-content h3 {}